<%= form_with model: [ category, task ] do |form| %>
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :details %><br>
        <%= form.text_area :details %>
    </p>

        <%= form.label :"Due Date" %></br>
        <%= form.datetime_select :date %>

    <p>
        <%= form.check_box :status %>
        <%= form.label :status, "Done?" %><br>
    </p>

    <p>
        <%= form.submit "Update Current Task" %>
    </p>
<% end %>
